<div class="container">
  <h1>Add Users</h1>
<form [formGroup]="adduser" (ngSubmit)="onUserSave()">
<div class="form-group">
<label>User Email</label>
<input formControlName="user_email" type="email" placeholder="Enter user Email" class="form-control">
<label *ngIf="adduser.get('user_email').hasError('required') && !adduser.get('user_email').pristine" class="alert alert-danger">Email is Required!</label>
<label *ngIf="adduser.get('user_email').hasError('email') && !adduser.get('user_email').pristine" class="alert alert-danger">Email is Invalid!</label>
</div>

<div class="form-group">
    <label>User Name</label>
    <input type="text" formControlName="user_name" placeholder="Enter user Name" class="form-control">
    <label *ngIf="adduser.get('user_name').hasError('required') &&  !adduser.get('user_name').pristine " class="alert alert-danger">Name is Required!</label>
    <!-- <label *ngIf="user_name.hasError('pattern') && !user_name.pristine" class="alert alert-danger">Only Char!</label>
    <label *ngIf="user_name.hasError('minlength') && !user_name.pristine" class="alert alert-danger">Min 3 char Required!</label> -->
    </div>

    <div class="form-group">
        <label>User Password</label>
        <input type="password"  formControlName="user_password" placeholder="Enter user Password" class="form-control">
       <label *ngIf="adduser.get('user_password').hasError('required') && !adduser.get('user_password').pristine" class="alert alert-danger">Password is Required!</label>

        </div>

        <div class="form-group ">
            <label>Mobile No.</label>
            <input type="text" formControlName="user_mobile_no" placeholder="Enter user Password" class="form-control">
            <label *ngIf="adduser.get('user_mobile_no').hasError('required') && !adduser.get('user_mobile_no').pristine" class="alert alert-danger">Mobile No is Required!</label>

            </div>

<div class='form-group '>

    <button [disabled]='!adduser.valid' type='submit' class='btn btn-success' >Upload Details</button>|
    <button  type='button' class='btn btn-info' (click)="onBack()">Back</button>
</div>
</form>
</div>
